<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Imperial Zhao</title>

  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
  <script>
      var firebaseConfig = {
          apiKey: "AIzaSyD8BHTbGfiDw0lDz-gs0x1TuQJq4jg-Kpg",
          authDomain: "sparkup-b900a.firebaseapp.com",
          projectId: "sparkup-b900a",
          storageBucket: "sparkup-b900a.appspot.com",
          messagingSenderId: "539493209699",
          appId: "1:539493209699:web:8b2b9ea4db491792f34a56"
      };

      firebase.initializeApp(firebaseConfig);
  </script>

  <script src="functions/index.js" defer></script>
</head>

<body>

  <h1>The SparkUp</h1>
  <div id="loading">Loading...</div>

  <div id="loaded" class="hidden">
      <div id="user-signed-out" class="hidden">
          <div id="firebaseui-auth-container"></div>
      </div>

      <div id="user-signed-in" class="hidden">
          <div id="userDetails">
              <div id="name"></div>
          </div>
          <button id="sign-out" class="btn btn-primary">Sign Out</button>
      </div>
  </div>

</body>